--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9 (Debian 16.9-1.pgdg130+1)
-- Dumped by pg_dump version 16.9 (Debian 16.9-1.pgdg130+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: file_aggregates; Type: TABLE; Schema: public; Owner: sensor
--

CREATE TABLE public.file_aggregates (
    id bigint NOT NULL,
    file_name text NOT NULL,
    source text NOT NULL,
    reading_type text NOT NULL,
    count bigint NOT NULL,
    min_value double precision,
    max_value double precision,
    avg_value double precision,
    stddev_value double precision,
    window_start timestamp with time zone,
    window_end timestamp with time zone,
    computed_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.file_aggregates OWNER TO sensor;

--
-- Name: file_aggregates_id_seq; Type: SEQUENCE; Schema: public; Owner: sensor
--

CREATE SEQUENCE public.file_aggregates_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.file_aggregates_id_seq OWNER TO sensor;

--
-- Name: file_aggregates_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sensor
--

ALTER SEQUENCE public.file_aggregates_id_seq OWNED BY public.file_aggregates.id;


--
-- Name: raw_readings; Type: TABLE; Schema: public; Owner: sensor
--

CREATE TABLE public.raw_readings (
    id bigint NOT NULL,
    sensor_id text NOT NULL,
    ts timestamp with time zone NOT NULL,
    source text NOT NULL,
    location text,
    reading_type text NOT NULL,
    reading_value double precision NOT NULL,
    unit text,
    file_name text NOT NULL,
    ingested_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.raw_readings OWNER TO sensor;

--
-- Name: raw_readings_id_seq; Type: SEQUENCE; Schema: public; Owner: sensor
--

CREATE SEQUENCE public.raw_readings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.raw_readings_id_seq OWNER TO sensor;

--
-- Name: raw_readings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sensor
--

ALTER SEQUENCE public.raw_readings_id_seq OWNED BY public.raw_readings.id;


--
-- Name: file_aggregates id; Type: DEFAULT; Schema: public; Owner: sensor
--

ALTER TABLE ONLY public.file_aggregates ALTER COLUMN id SET DEFAULT nextval('public.file_aggregates_id_seq'::regclass);


--
-- Name: raw_readings id; Type: DEFAULT; Schema: public; Owner: sensor
--

ALTER TABLE ONLY public.raw_readings ALTER COLUMN id SET DEFAULT nextval('public.raw_readings_id_seq'::regclass);


--
-- Data for Name: file_aggregates; Type: TABLE DATA; Schema: public; Owner: sensor
--

COPY public.file_aggregates (id, file_name, source, reading_type, count, min_value, max_value, avg_value, stddev_value, window_start, window_end, computed_at) FROM stdin;
\.


--
-- Data for Name: raw_readings; Type: TABLE DATA; Schema: public; Owner: sensor
--

COPY public.raw_readings (id, sensor_id, ts, source, location, reading_type, reading_value, unit, file_name, ingested_at) FROM stdin;
\.


--
-- Name: file_aggregates_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sensor
--

SELECT pg_catalog.setval('public.file_aggregates_id_seq', 1, false);


--
-- Name: raw_readings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sensor
--

SELECT pg_catalog.setval('public.raw_readings_id_seq', 1, false);


--
-- Name: file_aggregates file_aggregates_pkey; Type: CONSTRAINT; Schema: public; Owner: sensor
--

ALTER TABLE ONLY public.file_aggregates
    ADD CONSTRAINT file_aggregates_pkey PRIMARY KEY (id);


--
-- Name: raw_readings raw_readings_pkey; Type: CONSTRAINT; Schema: public; Owner: sensor
--

ALTER TABLE ONLY public.raw_readings
    ADD CONSTRAINT raw_readings_pkey PRIMARY KEY (id);


--
-- Name: idx_agg_file_type; Type: INDEX; Schema: public; Owner: sensor
--

CREATE INDEX idx_agg_file_type ON public.file_aggregates USING btree (file_name, reading_type);


--
-- Name: idx_raw_sensor_ts; Type: INDEX; Schema: public; Owner: sensor
--

CREATE INDEX idx_raw_sensor_ts ON public.raw_readings USING btree (sensor_id, ts);


--
-- Name: idx_raw_ts; Type: INDEX; Schema: public; Owner: sensor
--

CREATE INDEX idx_raw_ts ON public.raw_readings USING btree (ts);


--
-- Name: idx_raw_type; Type: INDEX; Schema: public; Owner: sensor
--

CREATE INDEX idx_raw_type ON public.raw_readings USING btree (reading_type);


--
-- PostgreSQL database dump complete
--

